		<section id="banner" class="style2">
			<div class="inner">
				<header class="major">
					<h1>Datenhaltung MySQL DB</h1>
				</header>
				<div class="content">
					<p>Datenhaltung &uuml;ber DB-Connect mysqli</p>
				</div>							
				<form action="demo_dbconnect_pers_liste.php" method="post">
					<ul class="actions">
<!-- 						
						<li><input type="submit" name="btn_daten_laden" value="Daten laden" class="special" /></li>
						<li><input type="submit" name="btn_daten_clear" value="Clear" /></li>									
 -->
 						<li><input type="submit" name="btn_setTestdata" value="setTestdata" class="special small" /></li>									
					</ul>
				</form>
			</div>
		</section>

	<!-- Main -->
		<div id="main">

			<!-- One -->
				<section id="one">
					<div class="inner">
						<header class="major">
							<h1>Personenliste</h1>
						</header>
						